@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

*{
    font-family: "Source Sans 3", sans-serif;
}


.m-996{
    max-width: 996px;
}


.divs-center > div{
    flex: 1 !important;
}

.d-flex{
    display: flex;
}

.margin-auto{
    margin: auto !important;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.f-basis-no{
    flex-basis: stretch !important;
}
 
nav{
    height: 64px;
    background-color: #e41b1b;
}

nav .navbar-brand svg{
    height: 26px;
    width: 50px;
    fill: white;
}

#navbarNav a{
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#navbarNav li{
    margin-right: 1.5rem;
}

.right-menu a:hover, #navbarNav a:hover{
    color: white;
}

.right-menu a{
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 0 !important;
}

.right-menu .navbar-nav{
    margin-left: auto;
}

.right-menu  li{
    margin-left: 1rem;
    border-right: 1px solid white;
    padding-right:1rem;
    height: 25px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.right-menu li i{
    font-size: 20px;
}

.container{
    max-width: 996px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.opinion-container{
    background-color: #f0f0f0;
    padding: 20px;
    border-top: 2px solid #999999;
}

.opinion-container .opinion-title a{
    text-decoration: none;
}

.opinion-container .opinion-title hr{
    color: #434343;
}

.opinion-container h3{
    text-transform: uppercase;
    color: #434343;
    font-size: 21px;
    line-height: 23px;
    margin-top: 15px;
}

.opinion-container .opinion-element-container{
    border-bottom: 1px solid #e0e0e0;
}

.opinion-element-container .opinion-element-title{
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    color: #151515;
    font: 17px;
    font-weight: bold;
    font-style: italic;
    transition: color .2s ease-in;
}

.opinion-element-container .opinion-element-title:hover{
    color: #f9a300;
}


.opinion-element-container .opinion-image-container{
    margin-top: 20px;
    display: flex;
}

.opinion-element-container .opinion-image{
    margin-left: auto;
}

.opinion-element-container .opinion-image-container .opinion-image-div{
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
}

.opinion-element-container .opinion-element-text .author-pre{
    font-size: 12px;
    color: #333;
    width: 100%;
    display: block;
}

.opinion-element-container .opinion-element-text .author{
    font-size: 12px;
    color: #666;
    width: 100%;
    display: block;
}